In [3]:
import pandas as pd 
import numpy as np
print("DataFrame apply function:\n")
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n Original DataFrame:\n",info)
print("\n Square root of DataFrame:\n",info.apply(np.sqrt))
print("\n Sum of each column:\n",info.apply(np.sum,axis=0))
print("\n Sum of each row:\n",info.apply(np.sum,axis=1))

DataFrame apply function:


 Original DataFrame:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 Square root of DataFrame:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 Sum of each column:
 S    12
R    36
dtype: int64

 Sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [14]:
import pandas as pd
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]])
col=['X','Y','Z']
print("Original DataFrame:\n",info)
print("\nMinimum & Maximum of each column:\n")
print(info.agg(['min','max']))
d2=pd.DataFrame([['Sai',88],['Poo',70]])
column=['Emp','Id']
print("\n",d2)
#adding a new column
d2['Age']=[20,18]
print("\n",d2)
d=d2.assign(Sex=['Male','Male'])
print("\n",d)

Original DataFrame:
    0  1  2
0  2  4  6
1  1  3  5
2  5  8  7

Minimum & Maximum of each column:

     0  1  2
min  1  3  5
max  5  8  7

      0   1
0  Sai  88
1  Poo  70

      0   1  Age
0  Sai  88   20
1  Poo  70   18

      0   1  Age   Sex
0  Sai  88   20  Male
1  Poo  70   18  Male

In [23]:
#Sorting
import numpy as np
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)
info2=info.sort_index()
print(info2)
info3=info.sort_values(by='col3')
print(info3)

       col3      col4
3  0.432156  0.000427
2  0.644777  0.794082
0 -1.309884  0.604997
4 -0.267382 -2.368931
1 -0.961723  0.890056
       col3      col4
0 -1.309884  0.604997
1 -0.961723  0.890056
2  0.644777  0.794082
3  0.432156  0.000427
4 -0.267382 -2.368931
       col3      col4
0 -1.309884  0.604997
1 -0.961723  0.890056
4 -0.267382 -2.368931
3  0.432156  0.000427
2  0.644777  0.794082

In [25]:
left=pd.DataFrame({'id':[1,2,3,4],'Name':['Anu','Johan','Aravind','Arjun'],'Sub':['Sub1','Sub2','Sub3','Sub4']})
right=pd.DataFrame({'id':[1,2,3,4],'Name':['kailash','Harish','Fahim','Joshua'],'Sub':['Sub5','Sub6','Sub7','Sub8']})
print(pd.merge(left,right,on="id"))

   id   Name_x Sub_x   Name_y Sub_y
0   1      Anu  Sub1  kailash  Sub5
1   2    Johan  Sub2   Harish  Sub6
2   3  Aravind  Sub3    Fahim  Sub7
3   4    Arjun  Sub4   Joshua  Sub8